.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), auto));
  grid-auto-rows: min-content;
}

.card {
  background-color: var(--background);
  color: var(--font-color);
  border-radius: 5px;
  padding: 1em;
  flex-grow: 1;
  flex-shrink: 1;
}

h2 {
  margin: 0;
}

p {
  max-width: 70ch;
}

a {
  background-color: var(--background);
  color: var(--font-color);
  padding: 0.2em 0.7em;
  text-decoration: none;
  border-radius: 3px;
}
