<h1>Bookmarklets</h1>
<div class="description">
  <p>
    Have you ever had the wish to just be able to do this quick thing on a
    website? Maybe count the number of words in the text you selected? Or change
    the speed of the media you're playing, even though the website's player
    doesn't offer that feature?
  </p>

  <p>
    Such functionality could be offered by plugins, but there's also a simpler
    way, that also involves less risk: bookmarklets.
  </p>

  <p>
    In essence, bookmarklets are just links that you save to you bookmarks.
    However, these links do not point to websites, like links usually do, but
    instead, they execute a script. These scripts are able to do many types of
    things, but they are more limited than plugins. While plugins, for example,
    can extract data from any website (whether you're actively using the plugin
    or not) and send this data anywhere in the world, bookmarklets can only run
    code on the website that is open when you click on the bookmarklet.
    Furthermore, they can only send data to the same servers that the currently
    open website may send data to, which typically are only the website's
    servers.
  </p>

  <p>
    Now, how do you "install" one of these bookmarklets? Just drag one of the
    buttons into your bookmark area! Simple as that.
  </p>
</div>
<app-bookmarklets></app-bookmarklets>
